@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.fic-card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

div.manager-border > button.btn {
  margin-right: 2rem;
  min-width: 100px;
  min-height: 50px;
  font-size: 25px;

}

tr.book-table-row > td {
  vertical-align: middle;
  font-size: 20px;
}

tr.book-table-header > th {
  cursor: pointer;
  font-size: 20px;
}

.chapter-list {
  overflow-y: auto;
}